---
layout: error
---

<article>
  <center>
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p><a href="https://iakrami.ir">blog</a> - <a href="https://iakrami.ir/notes">notes</a></p>
  </center>
</article>