---
layout: home
title: Home
breadcrumb:
---

<p>This pages include all my notes and sidenotes while learning and attending classes.</p>
<h3>Table of Contents</h3>
<ul id="toc">
    <li><a href="/programming/"><i class="fas fa-code"></i> Programming</a>
        <ul>
            <li><a href="/programming/nodejs"><i class="fab fa-node-js"></i> Node.js</a></li>
            <li><a href="/programming/python"><i class="fab fa-python"></i> Python</a></li>
        </ul>
    </li>
    <li><a href="/linux/"><i class="fab fa-linux"></i> Linux</a></li>
    <li><a href="/german/"><i class="fas fa-language"></i> German</a></li>
</ul>