<div id="breadcrumb">
  <i class="fas fa-map-marker-alt"></i>
  {% for bread in page.breadcrumb %}
  <a href="{{ bread.url }}">{{ bread.name }}</a>
  <span>></span>
  {% endfor %}
  <span class="active section">{{ page.title }}</span>
</div>