#breadcrumb {
    font-family: monospace;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #544550;
}

a:visited {
    color: #544550;
}

#toc, #toc ul {
    list-style: none;
}

#toc {
    padding-left: 0;
}

i.fas, i.fal, i.far, i.fab {
    margin-bottom: 0;
}

.red, .die {
    color: #db2828;
}

.blue, .der {
    color: #2185d0;
}

.grey, .das {
    color: #767676;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}

table.table th, table.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; 
}
table.table th:last-child, table.table td:last-child {
    border-right: none;
}
table.table tr:last-child td {
    border-bottom: none;
}
table.table {
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
}
table.table th {
    background-color: #eee;
}

.header {
    font-weight: bold;
}
.description {
    font-style: italic;
    color: #666;
}

.wordlist li {
    padding-bottom: 1em;
}