---
layout: home
title: Lektion 1
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<p>
German nouns are either: <br>
<span class="blue">maskulin</span> (masculine), <span class="red">feminina</span> (feminine), or <span class="grey">neutral</span> (neuter). The article/pronoun in front of the noun shows this.
</p>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>Geschlecht</th>
            <th>Nominativ</th>
            <th>Akkusativ</th>
            <th>Dativ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Maskulin</td>
            <td class="blue">der <br>ein <br>kein</td>
            <td class="blue">den <br>einen <br>keinen</td>
            <td class="blue">dem <br>einem <br>keinem</td>
        </tr>
        <tr>
            <td>Neutral</td>
            <td class="grey">das <br>ein <br>kein</td>
            <td class="grey">das <br>ein <br>kein</td>
            <td class="grey">dem <br>einem <br>keinem</td>
        </tr>
        <tr>
            <td>Feminina</td>
            <td class="red">die <br>eine <br>keine</td>
            <td class="red">die <br>eine <br>keine</td>
            <td class="red">der <br>einer <br>keiner</td>
        </tr>
        <tr>
            <td>Plural</td>
            <td>die <br>keine</td>
            <td>die <br>keine</td>
            <td>den <br>keinem</td>
        </tr>
    </tbody>
</table>
</div>
<p>The best way to find the article of a noun is memorizing them. but there is some rules that you can find here: </p>
<h4 class="blue">Maskulin</h4>
<ul>
    <li>Male people
        <br><span class="blue">der Mann</span>, <span class="blue">der Vater</span>, <span class="blue">der Präsident</span>
    </li>
    <li>Seasons
        <br><span class="blue">der Frühling</span>, <span class="blue">der Sommer</span>, <span class="blue">der Herbst</span>, <span class="blue">der Winter</span>
    </li>
    <li>Presipitations
        <br><span class="blue">der Schnee</span>, <span class="blue">der Regen</span>, <span class="blue">der Schauer</span>
    </li>
    <li>Days, months and times of day
        <br><span class="blue">der Montag</span>, <span class="blue">der Januar</span>, <span class="blue">der Abend</span>
    </li>
    <li>Nouns ending in <b>-ling</b>
        <br><span class="blue">der Flüchtling</span>, <span class="blue">der Schmetterling</span>
    </li>
    <li>Nouns ending in <b>-ich/ig</b>
        <br><span class="blue">der Honig</span>, <span class="blue">der Teppich</span>
    </li>
    <li>Nouns ending in <b>-er</b>
        <br><span class="blue">der Computer</span>, <span class="blue">der Fehler</span>
    </li>
    <li>Foreign words ending in <b>-us</b>
        <br><span class="blue">der Feudalismus</span>, <span class="blue">der Heroismus</span>
    </li>
    <li>Verb infinitives turned into nouns without <b>-en</b>
        <br><span class="blue">der Lauf</span>(laufen), <span class="blue">der Anruf</span>(anrufen), <span class="blue">der Dank</span>(danken)
    </li>
</ul>
<h4 class="red">Feminin</h4>
<ul>
    <li>Feminine people
        <br><span class="red">die Frau</span>, <span class="red">die Mutter</span>, <span class="red">die Präsidentin</span> (except for <span class="grey">das Mädchen</span>)
    </li>
    <li>The numbers
        <br><span class="red">die Eins</span>, <span class="red">die Zwei</span>, <span class="red">die Drei</span>, <span class="red">die Zehn</span>
    </li>
    <li>Nouns ending in <b>-ung</b>
        <br><span class="red">die Endung</span>, <span class="red">die Hoffnung</span>
    </li>
    <li>Nouns ending in <b>-schaft</b>
        <br><span class="red">die Mannschaft</span>, <span class="red">die Leidenschaft</span>
    </li>
    <li>Nouns ending in <b>-ion</b>
        <br><span class="red">die Station</span>, <span class="red">die Diskussion</span>
    </li>
    <li>Nouns ending in <b>-heit/keit</b>
        <br><span class="red">die Freiheit</span>, <span class="red">die Möglichkeit</span>
    </li>
    <li>Nouns ending in <b>-tät</b>
        <br><span class="red">die Identität</span>, <span class="red">die Kriminalität</span>
    </li>
    <li>Nouns ending in <b>-ik</b>
        <br><span class="red">die Politik</span>, <span class="red">die Musik</span>
    </li>
    <li>Nouns ending in <b>-ade</b>, <b>-age</b>, <b>-euse</b>, <b>-ere</b>, <b>-ie</b>
        <br><span class="red">die Fassade</span>, <span class="red">die Magie</span>, <span class="red">die Schleuse</span>
    </li>
    <li>Nouns ending in <b>-anz/enz</b>
        <br><span class="red">die Toleranz</span>, <span class="red">die Korrespondenz</span>
    </li>
</ul>
<h4 class="grey">Neutral</h4>
<ul>
    <li>Nouns ending in <b>-chen</b>
        <br><span class="grey">das Mädchen</span>, <span class="grey">das Hähnchen</span>
    </li>
    <li>Letters
        <br><span class="grey">das A</span>, <span class="grey">das B</span>
    </li>
    <li>Nouns ending in <b>-um</b>
        <br><span class="grey">das Museum</span>, <span class="grey">das Datum</span>, <span class="grey">das Album</span>
    </li>
    <li>Nouns ending in <b>-ment</b>
        <br><span class="grey">das Experiment</span>, <span class="grey">das Medikament</span>
    </li>
    <li>Nouns ending in <b>-ma</b>
        <br><span class="grey">das Thema</span>, <span class="grey">das Drama</span>
    </li>
    <li>Verb infinitives turned into noun
        <br><span class="grey">das Essen</span>, <span class="grey">das Laufen</span>
    </li>
    <li>Some nouns beginning in <b>Ge-</b>
        <br><span class="grey">das Geschirr</span>, <span class="grey">das Gefälle</span>
    </li>
</ul>
<p>All nouns are written with the first letter capitalized. The last word in the compound noun always determines the gender and plural form of it:</p>
<p><span class="red">die Arbeit</span> + <span class="blue">der Platz</span> = <span class="blue">der Arbeitsplatz</span>
<br><span class="red">die Woche</span> + <span class="grey">das Ende</span> = <span class="grey">das Wochenende</span></p>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs1 = verbs | where:"lesson",1 %}
{% for verb in verbs1 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>
<h3>Wörter</h3>
<ol class="wordlist">
    <li><b class="der">Abend</b> <span class="description">(pl; Abende)</span>:
    <br>evening, night </li>
    <li><b class="der">Abschied</b> <span class="description">(pl; Abschiede)</span>:
    <br>parting, leave taking, farewell </li>
    <li><b class="das">Alphabet</b><span class="description">(pl; Alphabete)</span>:
    <br>alphabet </li>
    <li><b class="">andere</b><span class="description"></span>:
    <br>different, other, next, following </li>
    <li><b class="das">Artikel</b> <span class="description">(pl; Artikel)</span>:
    <br>article </li>
    <li><b class="">auch</b><span class="description"></span>:
    <br>also, too, as well, indeed, really </li>
    <li><b class="">auf</b><span class="description"></span>:
    <br>on, in, at, by </li>
    <li><b class="">auf wiedersehen</b><span class="description"></span>:
    <br>goodbye </li>
    <li><b class="">aus</b><span class="description"></span>:
    <br>out of, from, of </li>
    <li><b class="die">Aussage</b> <span class="description">(pl; Aussagen)</span>:
    <br>statement, declaration, evidence </li>
    <li><b class="die">Begrüßung</b> <span class="description">(pl; Begrüßungen)</span>:
    <br>greeting, welcome, salutation </li>
    <li><b class="">bekannt</b><span class="description"></span>:
    <br>well-known, famous, familiar </li>
    <li><b class="">bitte</b><span class="description"></span>:
    <br>please, come in, here you are </li>
    <li><b class="">danke</b><span class="description"></span>:
    <br>thanks, thank you </li>
    <li><b class="das">Deutsch</b> <span class="description">(pl; Deutschen)</span>:
    <br>German </li>
    <li><b class="">dir</b><span class="description"></span>:
    <br>to you, for you </li>
    <li><b class="">du</b><span class="description"></span>:
    <br>you (informal) </li>
    <li><b class="">ein/e</b><span class="description"></span>:
    <br>a, an, one </li>
    <li><b class="das">ende</b> <span class="description">(pl; Enden)</span>:
    <br>end, finish, close </li>
    <li><b class="">er</b><span class="description"></span>:
    <br>he </li>
    <li><b class="der">Familienname</b> <span class="description"></span>:
    <br>family name, surname, last name </li>
    <li><b class="">fehlend</b><span class="description"></span>:
    <br>absent, missing, deficient, obsolete </li>
    <li><b class="">formell</b> <span class="description">(formeller; formellst)</span>:
    <br>formal, official </li>
    <li><b class="die">Frau</b> <span class="description">(pl; Frauen)</span>:
    <br>woman </li>
    <li><b class="das">Gespräch</b> <span class="description">(pl; Gespräche)</span>:
    <br>conversation, talk </li>
    <li><b class="die">Grammatik</b> <span class="description">(pl; Grammatiken)</span>:
    <br>grammar </li>
    <li><b class="">gut</b> <span class="description">(besser; best)</span>:
    <br>good, efficient </li>
    <li><b class="">gute nacht</b><span class="description"></span>:
    <br>good night </li>
    <li><b class="">guten abend</b><span class="description"></span>:
    <br>good evening </li>
    <li><b class="">hallo</b><span class="description"></span>:
    <br>hello </li>
    <li><b class="die">Herkunft</b> <span class="description">(no plural)</span>:
    <br>origin, birth, descent </li>
    <li><b class="der">Herr</b> <span class="description">(pl; Herren)</span>:
    <br>gentleman, Mr, master, lord </li>
    <li><b class="">ich</b><span class="description"></span>:
    <br>I, me </li>
    <li><b class="">ihnen</b><span class="description"></span>:
    <br>to them, for them </li>
    <li><b class="">ihr</b><span class="description"></span>:
    <br>you, to her, to it, for her, for it, her, its </li>
    <li><b class="die">Information</b> <span class="description">(pl; Informationen)</span>:
    <br>information </li>
    <li><b class="">informell</b> <span class="description"></span>:
    <br>informal </li>
    <li><b class="">ja</b><span class="description"></span>:
    <br>yes </li>
    <li><b class="das">kettenspiel</b> <span class="description">(refer to Spiel)</span>:
    <br>Chain game </li>
    <li><b class="die">Kommunikation</b> <span class="description">(pl; Kommunikationen)</span>:
    <br>communication </li>
    <li><b class="die">Konferenz</b> <span class="description">(pl; Konferenzen)</span>:
    <br>conference, meeting </li>
    <li><b class="die">Konjugation</b> <span class="description">(pl; Konjugationen)</span>:
    <br>conjugation </li>
    <li><b class="das">Land</b> <span class="description">(pl; Länder)</span>:
    <br>land, soil, ground, country, countryside, nation </li>
    <li><b class="das">Lied</b> <span class="description">(pl; Lieder)</span>:
    <br>song, air, melody, poem </li>
    <li><b class="">mein</b><span class="description"></span>:
    <br>my </li>
    <li><b class="">mit</b><span class="description"></span>:
    <br>with, full of, together </li>
    <li><b class="das">Morgen</b> <span class="description">(pl; Morgen)</span>:
    <br>morning </li>
    <li><b class="die">Musik</b> <span class="description">(no plural)</span>:
    <br>music </li>
    <li><b class="">nach</b><span class="description"></span>:
    <br>to, for, into, towards, after, past </li>
    <li><b class="die">Nacht</b> <span class="description">(pl; Nächte)</span>:
    <br>night, darkness </li>
    <li><b class="der">Name</b> <span class="description">(pl; Namen)</span>:
    <br>name, reputation, species </li>
    <li><b class="das">Namensschild</b> <span class="description"></span>:
    <br>nameplate </li>
    <li><b class="">nein</b><span class="description"></span>:
    <br>no </li>
    <li><b class="">nicht</b><span class="description"></span>:
    <br>not </li>
    <li><b class="">noch</b><span class="description"></span>:
    <br>still, yet, even, only </li>
    <li><b class="">noch einmal</b><span class="description"></span>:
    <br>once again, once more </li>
    <li><b class="">oder</b><span class="description"></span>:
    <br>or, either...or, else </li>
    <li><b class="der">Partner</b> <span class="description">(pl; Partner)</span>:
    <br>partner </li>
    <li><b class="die">Party</b> <span class="description">(pl; Partys)</span>:
    <br>party </li>
    <li><b class="die">Person</b> <span class="description">(pl; Personen)</span>:
    <br>person, individual, self </li>
    <li><b class="die">Position</b> <span class="description">(pl; Positionen)</span>:
    <br>position, post, job, status </li>
    <li><b class="">sehr</b><span class="description"></span>:
    <br>very, most, very much </li>
    <li><b class="die">Seite</b> <span class="description">(pl; Seiten)</span>:
    <br>side, face, page, point </li>
    <li><b class="">sie</b><span class="description"></span>:
    <br>she </li>
    <li><b class="der">Singular</b> <span class="description">(pl; Singulare)</span>:
    <br>singular </li>
    <li><b class="der">Sitzplan</b> <span class="description">(refer to Plan)</span>:
    <br>seat plan </li>
    <li><b class="">so</b><span class="description"></span>:
    <br>as follows, like this, thus </li>
    <li><b class="das">Sprechtraining</b> <span class="description">(refer to Training)</span>:
    <br>speaking training </li>
    <li><b class="die">Stunde</b> <span class="description">(pl; Stunden)</span>:
    <br>hour, moment, time, priod, lesson </li>
    <li><b class="der">Tag</b> <span class="description">(pl; Tage)</span>:
    <br>day, daylight, date </li>
    <li><b class="">tschüs</b><span class="description"></span>:
    <br>bye-bye, see you </li>
    <li><b class="der">Umlaut</b> <span class="description">(pl; Umlaute)</span>:
    <br>umlaut </li>
    <li><b class="">und</b><span class="description"></span>:
    <br>and </li>
    <li><b class="das">Verb</b> <span class="description">(pl; Verben)</span>:
    <br>verb </li>
    <li><b class="der">Vorname</b> <span class="description"></span>:
    <br>forename </li>
    <li><b class="">w-frage</b><span class="description"></span>:
    <br>w-question, question words that start with W </li>
    <li><b class="">was</b><span class="description"></span>:
    <br>what, how much </li>
    <li><b class="">welche</b><span class="description"></span>:
    <br>which, which one </li>
    <li><b class="die">Wendung</b> <span class="description">(pl; Wendungen)</span>:
    <br>turn, phrase, twist, expression </li>
    <li><b class="">wer</b><span class="description"></span>:
    <br>who </li>
    <li><b class="">wie</b><span class="description"></span>:
    <br>how </li>
    <li><b class="die">Wiederholung</b> <span class="description">(pl; Wiederholungen)</span>:
    <br>repetition, revision, repeat, summary </li>
    <li><b class="">woher</b><span class="description"></span>:
    <br>where...from, from where </li>
    <li><b class="das">Wortfeld</b><span class="description"></span>:
    <br>semantic field,  </li>
</ol>