---
layout: home
title: Lektion 7
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Modal verb: können</h3>
<p>Modal verbs modify the meaning of the verb in the sentence. They determine the relationship to the activity expressed by verb in the sentence. </p>
<p>The second verb, after the modal verb, is always in the infinitive and at the end of the sentence.</p>
<p><b>können</b> – <span class="description">to be able</span> – capability / possibility:</p>
<div style="overflow-x:auto;">
<table class="table">
    <tbody>
        <tr>
            <td class="description">ich</td>
            <td>kann</td>
            <td class="description">wir</td>
            <td>können</td>
        </tr>
        <tr>
            <td class="description">du</td>
            <td>kannst</td>
            <td class="description">ihr</td>
            <td>könnt</td>
        </tr>
        <tr>
            <td class="description">er, sie, es</td>
            <td>kann</td>
            <td class="description">sie, Sie</td>
            <td>können</td>
        </tr>
    </tbody>
</table>
</div>
<p>
    Ich kann gut schwimmen. - <span class="description">I can swim well.</span><br>
    <span class="das">Das Auto</span> ist kaputt. wir können nicht weiter fahren. - <span class="description">The car is broken. We cannot drive any further.</span><br>
    Können Sie mir helfen? - <span class="description">Can you help me?</span><br>
    Die Medikamente kann man nur mit <span class="das">Rezept</span> kaufen. - <span class="description">One can only buy the medicine with a prescription</span>
</p>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs7 = verbs | where:"lesson",7 %}
{% for verb in verbs7 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>