---
layout: home
title: Lektion 2
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Personal Pronouns (Nominativ)</h3>
<p>Personal pronouns is for replacing the noun of a sentence. so the sentence will be shorter, and repetitions of the nouns are avoided. The pronoun must be suitable to the gender of the noun which it replaces.</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th colspan="2">Singular</th>
            <th colspan="2">Plural</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ich</td>
            <td class="description">I</td>
            <td>wir</td>
            <td class="description">we</td>
        </tr>
        <tr>
            <td>du</td>
            <td class="description">you</td>
            <td>ihr</td>
            <td class="description">you</td>
        </tr>
        <tr>
            <td>er</td>
            <td class="description">he</td>
            <td>sie</td>
            <td class="description">they</td>
        </tr>
        <tr>
            <td>sie</td>
            <td class="description">she</td>
            <td>Sie</td>
            <td class="description">You</td>
        </tr>
        <tr>
            <td>es</td>
            <td class="description">it</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
<p>The pronoun 'Sie' always begins with a capital letter and is a polite form for strangers and adults in formal situations. 'Sie' can refer to one or more people.</p>
<h3>Negation</h3>
<p>Negation or negative sentences in German grammar are formed with the words nicht (not) and kein (no/none). The tricky part is understanding when to use nicht and when to use kein and where to put them in a sentence.</p>
<h4>nicht</h4>
<p>We use nicht to negate sentences in German. Nicht can be placed in different parts of a sentence depending on what we want to negate or emphasise.</p>
<ul>
    <li>at the ende of a sentence with verbs in simple tenses
        <br><span class="description">Er schläft nicht</span>
    </li>
    <li> before the full verb in compound tenses
        <br><span class="description">Er hat gestern Nacht nicht geschlafen</span>
    </li>
    <li>before the definite article or possesive pronouns used with nouns
        <br><span class="description">Er hat nicht das Essen bezahlt, sondern die Getränke</span>
    </li>
    <li>before names and proper nouns
        <br><span class="description">Das ist nicht Udos Auto, sondern Susis</span>
    </li>
    <li>before pronouns
        <br><span class="description">Ich habe nicht dich gerufen, sondern Petra</span>
    </li>
    <li>before adjectives
        <br><span class="description">Das ist nicht fair</span>
    </li>
    <li>before adverbs
        <br><span class="description">Sie geht nicht gerne schwimmen</span>
    </li>
    <li>before prepositions with indicators of place, time, and manner
        <br><span class="description">Der Zug kommt nicht um 18 Uhr an</span>
    </li>
</ul>
<h4>kein</h4>
<p>We use kein in the negation of German sentences</p>
<ul>
    <li>with nouns that don’t have an article
        <br><span class="description">Ich habe Hunger – Ich habe keinen Hunger</span>
    </li>
    <li>instead of an indefinite article
        <br><span class="description">Das ist eine Katze – Das ist keine Katze</span>
    </li>
</ul>
<p>The endings for kein match the endings of the possessive articles (table in <a href="./lektion1.html">Lektion 1</a>)</p>
<h3>als, bei, in</h3>
<p>we use these prepositions for expressing occupation and work place.</p>
<p><b>als</b> <span class="description">(Nominativ)</span>: as
<br>example: ich arbeite als <span class="der">Lehrer</span> <span class="description">I work as teacher</span></p>
<p><b>bei</b> <span class="description">(Dativ)</span>: by, at
<br>example: ich arbeite bei Siemens <span class="description">I work at Siemens</span></p>
<p><b>in</b> <span class="description">(Dativ/Akkusativ)</span>: in, at
<br>example: wir wohnen und arbeiten in Dortmund <span class="description">We live and work in Dortmund</span></p>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs2 = verbs | where:"lesson",2 %}
{% for verb in verbs2 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>
<h3>Wörter</h3>
<ol class="wordlist">
    <li><b class="">allein</b> <span class="description"></span>:
    <br></li>
    <li><b class="">alt</b> <span class="description"></span>:
    <br></li>
    <li><b class="">alter</b> <span class="description"></span>:
    <br></li>
    <li><b class="">arbeitgeber</b> <span class="description"></span>:
    <br></li>
    <li><b class="">arbeitslos</b> <span class="description"></span>:
    <br></li>
    <li><b class="">architekt</b> <span class="description"></span>:
    <br></li>
    <li><b class="">arz</b> <span class="description"></span>:
    <br></li>
    <li><b class="">aufgabe</b> <span class="description"></span>:
    <br></li>
    <li><b class="">ausbildung</b> <span class="description"></span>:
    <br></li>
    <li><b class="">beruf</b> <span class="description"></span>:
    <br></li>
    <li><b class="">beruflich</b> <span class="description"></span>:
    <br></li>
    <li><b class="">diplominformatiker</b> <span class="description"></span>:
    <br></li>
    <li><b class="">doktor</b> <span class="description"></span>:
    <br></li>
    <li><b class="">dänemark</b> <span class="description"></span>:
    <br></li>
    <li><b class="">echo</b> <span class="description"></span>:
    <br></li>
    <li><b class="">falsch</b> <span class="description"></span>:
    <br></li>
    <li><b class="">familienstand</b> <span class="description"></span>:
    <br></li>
    <li><b class="">foto</b> <span class="description"></span>:
    <br></li>
    <li><b class="">friseur</b> <span class="description"></span>:
    <br></li>
    <li><b class="">gemeinsam</b> <span class="description"></span>:
    <br></li>
    <li><b class="">geschieden</b> <span class="description"></span>:
    <br></li>
    <li><b class="">handy</b> <span class="description"></span>:
    <br></li>
    <li><b class="">hilfe</b> <span class="description"></span>:
    <br></li>
    <li><b class="">historiker</b> <span class="description"></span>:
    <br></li>
    <li><b class="">hörtext</b> <span class="description"></span>:
    <br></li>
    <li><b class="">ingenieur</b> <span class="description"></span>:
    <br></li>
    <li><b class="">internet</b> <span class="description"></span>:
    <br></li>
    <li><b class="">interview</b> <span class="description"></span>:
    <br></li>
    <li><b class="">jahr</b> <span class="description"></span>:
    <br></li>
    <li><b class="">jemand</b> <span class="description"></span>:
    <br></li>
    <li><b class="">jetzt</b> <span class="description"></span>:
    <br></li>
    <li><b class="">job</b> <span class="description"></span>:
    <br></li>
    <li><b class="">journalist</b> <span class="description"></span>:
    <br></li>
    <li><b class="">kellner</b> <span class="description"></span>:
    <br></li>
    <li><b class="">kind</b> <span class="description"></span>:
    <br></li>
    <li><b class="">krankenschwester</b> <span class="description"></span>:
    <br></li>
    <li><b class="">kurs</b> <span class="description"></span>:
    <br></li>
    <li><b class="">kurz</b> <span class="description"></span>:
    <br></li>
    <li><b class="">kärtchen</b> <span class="description"></span>:
    <br></li>
    <li><b class="">lehrer</b> <span class="description"></span>:
    <br></li>
    <li><b class="">mail</b> <span class="description"></span>:
    <br></li>
    <li><b class="">mechatroniker</b> <span class="description"></span>:
    <br></li>
    <li><b class="">negation</b> <span class="description"></span>:
    <br></li>
    <li><b class="">norwegen</b> <span class="description"></span>:
    <br></li>
    <li><b class="">paar</b> <span class="description"></span>:
    <br></li>
    <li><b class="">persönliches</b> <span class="description"></span>:
    <br></li>
    <li><b class="">plakat</b> <span class="description"></span>:
    <br></li>
    <li><b class="">plural</b> <span class="description"></span>:
    <br></li>
    <li><b class="">portugal</b> <span class="description"></span>:
    <br></li>
    <li><b class="">praktikum</b> <span class="description"></span>:
    <br></li>
    <li><b class="">profil</b> <span class="description"></span>:
    <br></li>
    <li><b class="">präposition</b> <span class="description"></span>:
    <br></li>
    <li><b class="">rentner</b> <span class="description"></span>:
    <br></li>
    <li><b class="">richtig</b> <span class="description"></span>:
    <br></li>
    <li><b class="">rätsel</b> <span class="description"></span>:
    <br></li>
    <li><b class="">schauspieler</b> <span class="description"></span>:
    <br></li>
    <li><b class="">schreibtraining</b> <span class="description"></span>:
    <br></li>
    <li><b class="">schule</b> <span class="description"></span>:
    <br></li>
    <li><b class="">schweden</b> <span class="description"></span>:
    <br></li>
    <li><b class="">schüler</b> <span class="description"></span>:
    <br></li>
    <li><b class="">sekretär</b> <span class="description"></span>:
    <br></li>
    <li><b class="">selbst</b> <span class="description"></span>:
    <br></li>
    <li><b class="">sich</b> <span class="description"></span>:
    <br></li>
    <li><b class="">spezialist</b> <span class="description"></span>:
    <br></li>
    <li><b class="">stadt</b> <span class="description"></span>:
    <br></li>
    <li><b class="">steckbrief</b> <span class="description"></span>:
    <br></li>
    <li><b class="">stelle</b> <span class="description"></span>:
    <br></li>
    <li><b class="">student</b> <span class="description"></span>:
    <br></li>
    <li><b class="">super</b> <span class="description"></span>:
    <br></li>
    <li><b class="">telefon</b> <span class="description"></span>:
    <br></li>
    <li><b class="">text</b> <span class="description"></span>:
    <br></li>
    <li><b class="">universität</b> <span class="description"></span>:
    <br></li>
    <li><b class="">variante</b> <span class="description"></span>:
    <br></li>
    <li><b class="">verheiratet</b> <span class="description"></span>:
    <br></li>
    <li><b class="">verkäufer</b> <span class="description"></span>:
    <br></li>
    <li><b class="">visitenkarte</b> <span class="description"></span>:
    <br></li>
    <li><b class="">wo</b> <span class="description"></span>:
    <br></li>
    <li><b class="">wohnort</b> <span class="description"></span>:
    <br></li>
    <li><b class="">wort</b> <span class="description"></span>:
    <br></li>
    <li><b class="">wortbildung</b> <span class="description"></span>:
    <br></li>
    <li><b class="">wörterbuch</b> <span class="description"></span>:
    <br></li>
    <li><b class="">zahl</b> <span class="description"></span>:
    <br></li>
    <li><b class="">zahlenreihe</b> <span class="description"></span>:
    <br></li>
    <li><b class="">zusammenleben</b> <span class="description"></span>:
    <br></li>
    <li><b class="">ähnlich</b> <span class="description"></span>:
    <br></li>
    <li><b class="">ärztin</b> <span class="description"></span>:
    <br></li>
    <li><b class="">über</b> <span class="description"></span>:
    <br></li>
</ol>