---
layout: home
title: Lektion 3
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Questions?</h3>
<h4>Word order in a main clause</h4>
<p>A sentence consists of a subject (person or thing carrying out the action), predicate (finite verb) and perhaps other elements.</p>
<p>In a main clause (with a full stop at the end), the predicate is always in second place.</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ich</td>
            <td>gehe</td>
            <td>heute ins Kino</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Today I go to the cinema.</span></td>
        </tr>
        <tr>
            <td>Unser Vater</td>
            <td>spielt</td>
            <td>gern Tennis.</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Our father likes to play tennis.</span></td>
        </tr>
    </tbody>
</table>
</div>
<p>If there is another element in first place in a main clause, the second place goes to the predicate and the subject comes after that.</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Heute</td>
            <td>gehe</td>
            <td>ich ins Kino</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Today I go to the cinema.</span></td>
        </tr>
    </tbody>
</table>
</div>
<h4>Word order in a question clause</h4>
<p><b>Polar questions:</b> predicate first, immediately followed by the subject.</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gehst</td>
            <td>du</td>
            <td>heute ins Kino?</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Are you going to the cinema today?</span></td>
        </tr>
        <tr>
            <td>Gibt</td>
            <td>es</td>
            <td>etwas über Architektur?</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Is there anything about architecture?</span></td>
        </tr>
    </tbody>
</table>
</div>
<p>these questions are answered with 'Yes.' or 'No.'</p>
<p><b>Non-polar questions:</b> interrogative first, then the predicate, immediately followed by the subject.</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wohin</td>
            <td>gehst</td>
            <td>du heute?</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Where are you going today?</span></td>
        </tr>
        <tr>
            <td>Wie</td>
            <td>ist</td>
            <td>Ihr Name?</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">What is your name?</span></td>
        </tr>
        <tr>
            <td>Wo</td>
            <td>ist</td>
            <td>die Ausstellung?</td>
        </tr>
        <tr>
            <td colspan="3"><span class="description">Where is the exhibition?</span></td>
        </tr>
    </tbody>
</table>
</div>
<h3>Interrogatives</h3>
<p>Interrogatives begin with the letter 'w'. (W-Fragen)</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>W-Frage</th>
            <th>Translation</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>wer?</td>
            <td><span class="description">who?</span></td>
            <td>Wer ist das?<br><span class="description">Who is that?</span></td>
        </tr>
        <tr>
            <td>was?</td>
            <td><span class="description">what?</span></td>
            <td>Was möchtest du trinken?<br><span class="description">What would you like to drink?</span></td>
        </tr>
        <tr>
            <td>wessen?</td>
            <td><span class="description">whose?</span></td>
            <td>Wessen Katze ist das?<br><span class="description">Whose cat is that?</span></td>
        </tr>
        <tr>
            <td>wem?</td>
            <td><span class="description">to whom?</span></td>
            <td>Wem soll ich helfen?<br><span class="description">Whom should I help?</span></td>
        </tr>
        <tr>
            <td>wen?</td>
            <td><span class="description">whom?</span></td>
            <td>Wen besuchen wir heute?<br><span class="description">Whom are we visiting today?</span></td>
        </tr>
        <tr>
            <td>warum?</td>
            <td><span class="description">why?</span></td>
            <td>Warum warst du nicht in der Schule?<br><span class="description">Why were you not at school?</span></td>
        </tr>
        <tr>
            <td>wann?</td>
            <td><span class="description">when?</span></td>
            <td>Wann kommst du zu uns?<br><span class="description">When are you coming to us?</span></td>
        </tr>
        <tr>
            <td>wo?</td>
            <td><span class="description">where?</span></td>
            <td>Wo wohnst du?<br><span class="description">Where do you live?</span></td>
        </tr>
        <tr>
            <td>wohin?</td>
            <td><span class="description">where to?</span></td>
            <td>Wohin fahrt ihr im Urlaub?<br><span class="description">Where are you going on holiday?</span></td>
        </tr>
        <tr>
            <td>woher?</td>
            <td><span class="description">where from?</span></td>
            <td>Woher kommst du?<br><span class="description">Where do you come from?</span></td>
        </tr>
    </tbody>
</table>
</div>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs3 = verbs | where:"lesson",3 %}
{% for verb in verbs3 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>