---
layout: home
title: Lektion 11
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Simple Past (Preterite)</h3>
<p>The Preterite is a past tense form which is used mainly in narrations. The Preterite is used in written texts. In the Preterite, the 1st and 3rd persons are always the same.</p>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Pronoun</th>
        <th>Past Suffix</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ich</td>
        <td>-te</td>
        <td>ich kauf<b>te</b></td>
      </tr>
      <tr>
        <td>du</td>
        <td>-test</td>
        <td>du kauf<b>test</b></td>
      </tr>
      <tr>
        <td>er, sie, es</td>
        <td>-te</td>
        <td>er kauf<b>te</b></td>
      </tr>
      <tr>
        <td>wir</td>
        <td>-ten</td>
        <td>wir kauf<b>ten</b></td>
      </tr>
      <tr>
        <td>ihr</td>
        <td>-tet</td>
        <td>ihr kauf<b>tet</b></td>
      </tr>
      <tr>
        <td>sie, Sie</td>
        <td>-ten</td>
        <td>sie kauf<b>ten</b></td>
      </tr>
    </tbody>
  </table>
</div>
<p><b>Exceptions:</b> Regular verbs with the stem ending in <b>-t-, -d-, -tm-, -chn-, -ffn</b></p>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Pronoun</th>
        <th>Past Suffix</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ich</td>
        <td>-ete</td>
        <td>ich wart<b>ete</b></td>
      </tr>
      <tr>
        <td>du</td>
        <td>-etest</td>
        <td>du arbeit<b>etest</b></td>
      </tr>
      <tr>
        <td>er, sie, es</td>
        <td>-ete</td>
        <td>er bad<b>ete</b></td>
      </tr>
      <tr>
        <td>wir</td>
        <td>-eten</td>
        <td>wir atm<b>eten</b></td>
      </tr>
      <tr>
        <td>ihr</td>
        <td>-etet</td>
        <td>ihr zeichn<b>etet</b></td>
      </tr>
      <tr>
        <td>sie, Sie</td>
        <td>-eten</td>
        <td>sie öffn<b>eten</b></td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Irregular verbs</h4>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Pronoun</th>
        <th>Past Suffix</th>
        <th>Example (gehen, lassen)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ich</td>
        <td>-</td>
        <td>ging, ließ</td>
      </tr>
      <tr>
        <td>du</td>
        <td>-st</td>
        <td>gingst, ließt</td>
      </tr>
      <tr>
        <td>er, sie, es</td>
        <td>-</td>
        <td>ging, ließ</td>
      </tr>
      <tr>
        <td>wir</td>
        <td>-en</td>
        <td>gingen, ließen</td>
      </tr>
      <tr>
        <td>ihr</td>
        <td>-t</td>
        <td>gingt, ließt</td>
      </tr>
      <tr>
        <td>sie, Sie</td>
        <td>-en</td>
        <td>gingen, ließen</td>
      </tr>
    </tbody>
  </table>
</div>
<p>When talking about something in the past, the Preterite is almost always used for 'haben' and 'sein', even if the text as a whole is in the Perfect.</p>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Pronoun</th>
        <th>sein</th>
        <th>haben</th>
        <th>können</th>
        <th>müssen</th>
        <th>dürfen</th>
        <th>wollen</th>
        <th>sollen</th>
        <th>mögen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ich</td>
        <td>war</td>
        <td>hatte</td>
        <td>konnte</td>
        <td>musste</td>
        <td>durfte</td>
        <td>wollte</td>
        <td>sollte</td>
        <td>mochte</td>
      </tr>
      <tr>
        <td>du</td>
        <td>warst</td>
        <td>hattest</td>
        <td>konntest</td>
        <td>musstest</td>
        <td>durftest</td>
        <td>wolltest</td>
        <td>solltest</td>
        <td>mochtest</td>
      </tr>
      <tr>
        <td>er, sie, es</td>
        <td>war</td>
        <td>hatte</td>
        <td>konnte</td>
        <td>musste</td>
        <td>durfte</td>
        <td>wollte</td>
        <td>sollte</td>
        <td>mochte</td>
      </tr>
      <tr>
        <td>wir</td>
        <td>waren</td>
        <td>hatten</td>
        <td>konnten</td>
        <td>mussten</td>
        <td>durften</td>
        <td>wollten</td>
        <td>sollten</td>
        <td>mochten</td>
      </tr>
      <tr>
        <td>ihr</td>
        <td>wart</td>
        <td>hattet</td>
        <td>konntet</td>
        <td>musstet</td>
        <td>durftet</td>
        <td>wolltet</td>
        <td>solltet</td>
        <td>mochtet</td>
      </tr>
      <tr>
        <td>sie, Sie</td>
        <td>waren</td>
        <td>hatten</td>
        <td>konnten</td>
        <td>mussten</td>
        <td>durften</td>
        <td>wollten</td>
        <td>sollten</td>
        <td>mochten</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>The Perfect</h3>
<p>The Perfect is a form of past tense. The Perfect is made using the conjugated form of the auxiliary verb (haben or sein) and the Past Participle at the end of the sentence.</p>
<blockquote>
  Perfekt = haben/sein + ... + Partizip Perfekt
</blockquote>
<h4>Regular verbs</h4>
<p>The verb stem receives: the prefix 'ge-' and the ending '-t'.
<blockquote>
  machen <span class="description">(to make)</span> → gemacht <br>
  kaufen <span class="description">(to buy)</span>  → gekauft <br>
  zeigen <span class="description">(to show)</span> → gezeigt
</blockquote>
</p>
<p>With verbs whose stem ends in <b>'-t-'</b>, <b>'-d-'</b>, <b>'-tm-'</b>, <b>'-chn-'</b>, <b>'-ffn-'</b>, the stem receives: the prefix 'ge-' and the ending '-et'.
<blockquote>
  warten <span class="description">(to wait)</span>  → ge–wart–et <br>
  baden span.descriptionn<span class="description">(to bathe)</span>  → ge–bad–et <br>
  atmen span.descriptionn<span class="description">(to breathe)</span>  → ge–atm–et <br>
  zeichnen <span class="description">(to draw)</span>  → ge–zeichn–et <br>
  öffnen <span class="description">(to open)</span>  → ge–öffn-et
</blockquote>
</p>
<h4>Irregular verbs</h4>
<p>The Past Participle of irregular verbs must be learnt by heart. It usually ends in '-en'.
<blockquote>
  treffen <span class="description">(to meet)</span> → getroffen <br>
  denken <span class="description">(to think)</span> → gedacht
</blockquote>
</p>
<h4>Separable verbs</h4>
<p>With regular and irregular separable verbs, the prefix 'ge-' comes between the verb's prefix and the stem.
  <blockquote>
    bestehen <span class="description">(to pass)</span> → bestanden <br>
    gefallen <span class="description">(to please)</span> → gefallen <br>
    empfinden <span class="description">(to feel)</span> → empfunden <br>
    entschuldigen <span class="description">(to apologise)</span> → entschuldigt <br>
    erzählen <span class="description">(to recount)</span> → erzählt <br>
    missbrauchen <span class="description">(to misuse)</span> → missbraucht <br>
    verstehen <span class="description">(to understand)</span> → verstand-en <br>
    zerstören <span class="description">(to destroy)</span> → zerstört
  </blockquote>
</p>
<p>Verbs with the ending '-ieren' have no 'ge-' and are always regular.
  <blockquote>
    informieren <span class="description">(to inform)</span> → informiert <br>
    studieren <span class="description">(to study)</span> → studiert
  </blockquote>
</p>
<h4>The Perfect with 'sein'</h4>
<p>The auxiliary verb 'sein' is used: <br>
  - when the verb expresses movement of the subject: 'kommen', 'gehen', 'laufen', 'springen'
  <blockquote>
    Wir sind nach Wien gekommen. - <span class="description">We came to Vienna.</span> <br>
    Er ist erst spät nach Hause gekommen. - <span class="description">He arrived home late.</span> <br>
    Ich bin ins Kino gegangen. - <span class="description">I went to the cinema.</span> <br>
    Sie ist vor kurzem von der Türkei nach Deutschland gezogen. - <span class="description">She recently moved from Turkey to Germany.</span>
  </blockquote>
</p>
<p> - when the verb expresses a change of state by the subject, such as: 'aufwachen' - 'to wake up', 'einschlafen' - 'to fall asleep', 'wachsen' - 'to grow', 'sterben' - 'to die'
  <blockquote>
      Ich bin sofort eingeschlafen. - <span class="description">I fell asleep immediately.</span> <br>
      Du bist aber groß gewachsen! - <span class="description">My how you have grown!</span> <br>
      Hermann Hesse ist 1962 in der Schweiz gestorben. - <span class="description">Hermann Hesse died in Switzerland in 1962.</span>
  </blockquote>
</p>
 <p> - with these verbs:
  <blockquote>
    sein - <span class="description">Ich bin gestern im Kino gewesen.</span> <br>
    werden - <span class="description">Sie ist Mathematiklehrerin geworden.</span> <br>
    bleiben - <span class="description">Die ganze Woche ist er wegen der Grippe zu Hause geblieben.</span> <br>
    passieren - <span class="description">Was ist passiert?</span> <br>
    geschehen - <span class="description">Was ist geschehen?</span> <br>
    begegnen - <span class="description">Ich bin ihm im Park begegnet.</span>
  </blockquote>
</p>
<h4>The Perfect with 'haben'</h4>
<p>The auxiliary verb 'haben' is used with all transitive verbs, followed by the accusatice (even with movement of the subject).
  <blockquote>
    Ich habe die reservierten Karten für die Sonntagsvorstellung abgeholt. - <span class="description">I have collected the reserved tickets for the Sunday performance.</span> <br>
    Sie haben das gleiche Kleid gekauft. - <span class="description">You have bought the same dress.</span> <br>
    Was hast du ihr gegeben? - <span class="description">What have you given her?</span> <br>
    Ich habe den Berg schon mehrmals bestiegen. - <span class="description">I have climbed mountain several times already.</span>
  </blockquote>
</p>
<p>The auxiliary verb 'haben' is used with all reflexive verbs (even with movement of the subject).
  <blockquote>
    Die Kinder haben sich vor dem Schlafen gewaschen. - <span class="description">The children washed themeselves before going to sleep.</span> <br>
    Ich habe mich an das Fenster gesetzt. - <span class="description">I sat down at the window.</span>
  </blockquote>
</p>

<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs11 = verbs | where:"lesson",11 %}
{% for verb in verbs11 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>