---
layout: home
title: Lektion 9
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>mögen vs möchten</h3>
<p>Many people wonder about the difference between the German verb forms mögen and möchten. First of all, you need to know that there is no German infinitive möchten.</p>
<p><b>Möchten</b> is a verb from derived from the modal verb <b>mögen</b>, namely the Konjunktiv II, but used with present meaning.</p>
<p>The modal verb in its infinitive form mögen generally means “to like” and this is the meaning you express if you conjugate it with a -g- in its root (mag).
However, the conjugation with -chte (möchte) means “to want/would like”. <br>
Thus, there are two ways of conjugating the German modal verb mögen as you can see in the following table:</p>
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Conjugation root</th>
                <th>mag-/mög-</th>
                <th>möcht-</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ich</td>
                <td>mag</td>
                <td>möchte</td>
            </tr>
            <tr>
                <td>du</td>
                <td>magst</td>
                <td>möchtest</td>
            </tr>
            <tr>
                <td>er/sie/es</td>
                <td>mag</td>
                <td>möchte</td>
            </tr>
            <tr>
                <td>wir</td>
                <td>mögen</td>
                <td>möchten</td>
            </tr>
            <tr>
                <td>ihr</td>
                <td>mögt</td>
                <td>möchtet</td>
            </tr>
            <tr>
                <td>sie/Sie</td>
                <td>mögen</td>
                <td>möchten</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs9 = verbs | where:"lesson",9 %}
{% for verb in verbs9 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>