---
layout: home
title: Lektion 8
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h4>am vs. um</h4>
<p>am and um is prepositions used for time. am (an+dem) is used for expressing a date or days, but um is used for showing the exact time.</p>
<blockquote>Am <span class="der">Montag</span> treffe ich meine Freunde. <br>
Am <span class="der">Nachmittag</span> kommt Anna. <br>
Um 8 Uhr gehe ich ins <span class="das">Museum</span>.</blockquote>
<p>There is an exception for using am:</p>
<blockquote>
    in der Woche <br>
    in der Nacht
</blockquote>
<h3>Telling The Time</h3>
<h4>On The Hour</h4>
<p>To express a time on the hour, like 1 o'clock or 5 o'clock, you follow this structure</p>
<blockquote>Es ist 9 Uhr - <span class="description">it is 9 o'clock</span></blockquote>
<h4>The Exact Time</h4>
<p>If you want to tell the precise time, down to the minute, the sentence structure is also pretty simple. And in many ways, simpler than English. Here’s how it looks:</p>
<blockquote>Es ist zwei Uhr sechzehn – <span class="description">It is 2:16</span></blockquote>
<h4>Half Hour!</h4>
<p>When time is around the half hour Germans talk about the hour to come, and not the hour you’re currently in. In English, you would say half five, half nine and half ten, respectively. But in German, they would be expressed as half of the next hour. Like this:</p>
<blockquote>Halb sechs - <span class="description">5:30, half past five</span></blockquote>
<h4>Quarters</h4>
<p>German time also allows you to round up to different times between hours, such as quarter past and quarter to.</p>
<blockquote>Es ist viertel nach sechs - <span class="description">It is quarter past 6</span><br>
Es ist viertel vor acht - <span class="description">It is quarter past 8</span></blockquote>
<h4>Others</h4>
<p>You can express different times by using nach and vor with above rules:</p>
<blockquote>
Es ist fünf vor halb sieben - <span class="description">It’s five minutes before half past six</span><br>
Es ist fünf vor halb zehn - <span class="description">It’s five minutes before half past nine</span><br>
Es ist fünf nach halb elf - <span class="description">It’s five minutes after half past ten</span><br>
Es ist fünf nach halb zwölf - <span class="description">It’s five minutes after half past eleven</span>
</blockquote>
<h4>Asking the Time</h4>
<p>There are a few simple ways you can ask for the time in German. If you really just want to know what time it is on the clock, you can ask any of these questions and someone will respond with one expressions you saw in the last section.</p>
<blockquote>
  Wie viel Uhr haben wir? – <span class="description">What time is it?</span> <br>
  Wie spät ist es? - <span class="description">What time is it?</span> <br>
  Entschuldigung, können Sie mir bitte sagen, wie viel Uhr es ist? - <span class="description">Excuse me, do you have the time?</span>
</blockquote>
<p>The first two on the list you could use in general conversation with your friends. The third and final option is if you stop someone on the street, or pop into a shop, to ask them what time it is. It is a really polite option.</p>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs8 = verbs | where:"lesson",8 %}
{% for verb in verbs8 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>