---
layout: home
title: Lektion 6
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Plurals</h3>
<p>German plurals are formed by adding -n/-en, -e, -e/-er, -s. Some nouns are the same in their singular and plural forms e.g. die Löffel whilst others are mostly used in the singular e.g. die Milch or plural form e.g. die Eltern. The ending of a nouns give us a clue as to which plural ending to use.</p>
<ul>
    <li><b>-, ¨-</b>
        <br><span class="description">mostly for nouns ending in '-er', '-el', '-en' and always for nouns ending in '-chen', '-lein'</span>
        <br><br>
        <p>
            <span class="der">der Mantel</span> → die Mäntel <br>
            <span class="der">der Sessel</span> → die Sessel <br>
            <span class="der">der Wagen</span> → die Wagen <br>
            <span class="das">das Märchen</span> → die Märchen <br>
            <span class="das">das Fräulein</span> → die Fräulein
        </p>
    </li>
    <li><b>-e, -¨e</b>
        <br><span class="description">often with words of one syllable</span>
        <br><br>
        <p>
            <span class="der">der Rock</span> → die Röcke <br>
            <span class="der">der Tisch</span> → die Tische <br>
            <span class="die">die Hand</span> → die Hände <br>
            <span class="die">die Brust</span> → die Brüste <br>
            <span class="das">das Bein</span> → die Beine
        </p>
    </li>
    <li><b>-er, -¨er</b>
        <br><span class="description">often for neuter nouns of one syllable, nouns ending in '-tum'</span>
        <br><br>
        <p>
            <span class="das">das Kleid</span> → die Kleider <br>
            <span class="das">das Buch</span> → die Bücher <br>
            <span class="das">das Bild</span> → die Bilder <br>
            <span class="das">das Eigentum</span> → die Eigentümer <br>
            <span class="der">der Mund</span> → die Münder
        </p>
    </li>
    <li><b>-n, -en</b>
        <br><span class="description">often feminine nouns, nouns ending in '-e', '-ei', '-ung', '-heit', '-keit', '-schaft',</span>
        <br><br>
        <p>
            <span class="die">die Krawatte</span> → die Krawatten <br>
            <span class="die">die Hose</span> → die Hosen <br>
            <span class="die">die Uhr</span> → die Uhren <br>
            <span class="die">die Freundschaft</span> → die Freundeschaften <br>
            <span class="die">die Krankheit</span> → die Krankheiten
        </p>
    </li>
    <li><b>-nen</b>
        <br><span class="description">feminine nouns in '-in',</span>
        <br><br>
        <p>
            <span class="die">Freundin</span> → die Freundeschaften
        </p>
    </li>
    <li><b>-s</b>
        <br><span class="description">Foreign words, nouns ending in '-a', '-o', '-i', '-u'</span>
        <br><br>
        <p>
            <span class="das">das T-Shirt</span> → die T-Shirts <br>
            <span class="das">das Auto</span> → die Autos <br>
            <span class="der">der Cousin</span> → die Cousins <br>
        </p>
    </li>
</ul>
<h4>Viel vs. Viele</h4>
<p><b>Viel</b> is an adverb meaning "much" and is used with non-countable nouns such as Milch, Zeit, Geld, Arbeit, etc., regardless of GENDER:</p>
<blockquote>
    ich habe nicht viel <span class="die">Zeit</span>. <br>Er hat viel <span class="das">Geld</span>. <br>Es gibt nicht viel <span class="die">Milch</span> im <span class="der">Kühlschrank</span>. <br>Leider habe ich zu viel <span class="die">Arbeit</span>.
</blockquote>
<p><b>Viel</b> can also be the precipitor of an adjectival noun phrase:</p>
<blockquote>
    In Afrika hat Erich viel Gutes getan.
</blockquote>
<p><b>Viele</b> is a (plural) adjective of indefinite number meaning "many", and as such may have appropriate PLURAL endings (e or en):</p>
<blockquote>Viele Arbeiter wollen <span class="die">die Firma</span> verlassen. <br>Mit vielen Kindern ist es schwer zu reisen.</blockquote>
<p>There are some expressions which consist of viel- plus adective endings. In these cases, viel acts as an adjectival noun, and is therefore not followed by a noun:</p>
<blockquote>Vieles darf nicht gesagt werden.</blockquote>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs6 = verbs | where:"lesson",6 %}
{% for verb in verbs6 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>