---
layout: home
title: Lektion 4
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Numbers</h3>
<div style="overflow-x:auto;">
<table class="table">
    <tbody>
        <tr>
            <td>0</td>
            <td>null</td>
            <td>11</td>
            <td>elf</td>
            <td>40</td>
            <td>vierzig</td>
        </tr>
        <tr>
            <td>1</td>
            <td>eins</td>
            <td>12</td>
            <td>zwölf</td>
            <td>50</td>
            <td>fünfzig</td>
        </tr>
        <tr>
            <td>2</td>
            <td>zwei</td>
            <td>13</td>
            <td>dreizehn</td>
            <td>60</td>
            <td>sechzig</td>
        </tr>
        <tr>
            <td>3</td>
            <td>drei</td>
            <td>14</td>
            <td>vierzehn</td>
            <td>70</td>
            <td>siebzig</td>
        </tr>
        <tr>
            <td>4</td>
            <td>vier</td>
            <td>15</td>
            <td>fünfzehn</td>
            <td>80</td>
            <td>achtzig</td>
        </tr>
        <tr>
            <td>5</td>
            <td>fünf</td>
            <td>16</td>
            <td>sechzehn</td>
            <td>90</td>
            <td>neunzig</td>
        </tr>
        <tr>
            <td>6</td>
            <td>sechs</td>
            <td>17</td>
            <td>siebzehn</td>
            <td>100</td>
            <td>hundert</td>
        </tr>
        <tr>
            <td>7</td>
            <td>sieben</td>
            <td>18</td>
            <td>achtzehn</td>
            <td>1,000</td>
            <td>tausend</td>
        </tr>
        <tr>
            <td>8</td>
            <td>acht</td>
            <td>19</td>
            <td>neunzehn</td>
            <td>1 million</td>
            <td>eine Million</td>
        </tr>
        <tr>
            <td>9</td>
            <td>neun</td>
            <td>20</td>
            <td>zwanzig</td>
            <td>1 billion</td>
            <td>eine Milliarde</td>
        </tr>
        <tr>
            <td>10</td>
            <td>zehn</td>
            <td>30</td>
            <td>dreißig</td>
            <td>1 trillion</td>
            <td>eine Billion</td>
        </tr>
    </tbody>
</table>
</div>
<p>From twenty-one to ninety-nine, the tens and units are joined with the und (and) word, but the unit is said before the ten (e.g.: einunddreißig [31], fünfunddreißig [35]).</p>
<p>Hundred (hundert) and thousand (tausend) are not separated from the other numbers by a space (e.g.: hunderteinundzwanzig [121], tausendzweihundertneunzehn [1,219]).</p>
<p>When expressing a year, the numbers from 1,100 to 1,999 are said in tens of hundreds. For instance, the year 1985 is neunzehnhundertfünfundachtzig.</p>
<p>The unit eins (one) loses its final -s when composed in a number, unless it is the only value after a scale name (e.g.: hunderteins [101], tausendeins [1,001]).</p>
<p>The German language uses the long scale for big numbers where the naming pattern of the scale words alternates between the -illion and -illiarde suffixes: Million (106, million), Milliarde (109, billion), Billion (1012, trillion), Billiarde (1015, quadrillion), Trillion (1018, quintillion), Trilliarde (1021, sextillion)…</p>
<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs4 = verbs | where:"lesson",4 %}
{% for verb in verbs4%}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>