---
layout: home
title: Lektion 10
breadcrumb:
    - name: Home
      url: /
    - name: German
      url: /german
    - name: A1
      url: /german/A1
---
<h3>Trennbare Verben (Compound verbs)</h3>
<p>Compound verbs are either separable or inseparable. Separable verbs consist of the prefix and the verb.
  <blockquote>
    <b>einkaufen <span class="description">(to shop)</span></b> = ein + kaufen <span class="description">(to buy)</span> <br>
    <b>verstehen <span class="description">(to understand)</span></b> = ver + stehen <span class="description">(to stand)</span>
  </blockquote>
</p>
<h4>Seperable verbs</h4>
<p>The prefix modifies the meaning of the verb. ('Einpacken' – to wrap – has something to do with 'packen' – to pack. 'Einkaufen' – to shop – has something to do with 'kaufen' – to buy.)</p>
<p>In the Present Tense, the prefix is at the end of the sentence.</p>
<blockquote>
  Ich gehe gleich <b>ein</b>kaufen - <span class="description">I will go shopping right away</span> <br>
  Ich <b>kaufe</b> nicht so gern <b>ein</b> - <span class="description">I do not enjoy shopping</span> <br>
  Gestern <b>kaufte</b> sie den ganzen Tag <b>ein</b> - <span class="description">Yesterday she shopped all day</span> <br>
  Er <b>sieht</b> elegant <b>aus</b> - <span class="description">He looks elegant</span>
</blockquote>
<h4>Prefixes with separable verbs</h4>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Meaning</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ab-</td>
        <td class="description">from</td>
        <td>abfahren <span class="description">(to drive off)</span></td>
      </tr>
      <tr>
        <td>an-</td>
        <td class="description">on</td>
        <td>ankommen <span class="description">(to arrive)</span>, anprobieren <span class="description">(to try on)</span></td>
      </tr>
      <tr>
        <td>auf-</td>
        <td class="description">on</td>
        <td>aufstehen <span class="description">(to get up)</span></td>
      </tr>
      <tr>
        <td>aus-</td>
        <td class="description">out</td>
        <td>austragen <span class="description">(to carry out)</span>, aussehen <span class="description">(to appear)</span></td>
      </tr>
      <tr>
        <td>bei-</td>
        <td class="description">by</td>
        <td>beibringen <span class="description">(to teach)</span></td>
      </tr>
      <tr>
        <td>ein-</td>
        <td class="description">one</td>
        <td>einkaufen <span class="description">(to shop)</span>, einpacken <span class="description">(to pack)</span></td>
      </tr>
      <tr>
        <td>los-</td>
        <td class="description">loose</td>
        <td>losgehen <span class="description">(to set off)</span></td>
      </tr>
      <tr>
        <td>mit-</td>
        <td class="description">with</td>
        <td>mitkommen <span class="description">(to come with)</span>, mitnehmen <span class="description">(to take along)</span></td>
      </tr>
      <tr>
        <td>nach-</td>
        <td class="description">after</td>
        <td>nachmachen <span class="description">(to imitate)</span></td>
      </tr>
      <tr>
        <td>vor-</td>
        <td class="description">before</td>
        <td>vorstellen <span class="description">(to introduce)</span></td>
      </tr>
      <tr>
        <td>zu-</td>
        <td class="description">to</td>
        <td>zumachen <span class="description">(to close)</span>, (da)zunehmen <span class="description">(to include)</span></td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Inseperable verbs</h4>
<p>The prefix is unstressed. In the Present and the Preterite, the prefix remains joined to the verb and the past participle has no "ge-".
  <blockquote>
    Ich kan das nicht <b>ver</b>stehen - <span class="description">I cannot understand that</span> <br>
    Ich <b>ver</b>stehe das nicht - <span class="description">I do not understand that</span> <br>
    Du hast aber nichts <b>ver</b>standen - <span class="description">But you undestood nothing</span> <br>
    Ich habe einem neuen Computer <b>be</b>kommen - <span class="description">I got a new computer</span>
  </blockquote>
</p>
<h4>Prefixes with inseparable verbs</h4>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>be-</td>
        <td>bekommen <span class="description">(to get)</span></td>
      </tr>
      <tr>
        <td>ge-</td>
        <td>gefallen <span class="description">(to please)</span></td>
      </tr>
      <tr>
        <td>emp-</td>
        <td>empfallen <span class="description">(to recommend)</span></td>
      </tr>
      <tr>
        <td>ent-</td>
        <td>entschuldigen <span class="description">(to apologise)</span></td>
      </tr>
      <tr>
        <td>er-</td>
        <td>erzählen <span class="description">(to tell)</span></td>
      </tr>
      <tr>
        <td>miss-</td>
        <td>missbrauchen <span class="description">(to misuse)</span></td>
      </tr>
      <tr>
        <td>ver-</td>
        <td>verstehen <span class="description">(to understand)</span></td>
      </tr>
      <tr>
        <td>zer-</td>
        <td>zerstören <span class="description">(to destroy)</span></td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Verben</h3>
<ol class="wordlist">
{% assign verbs = site.verben | where:"level","A1" %}
{% assign verbs10 = verbs | where:"lesson",10 %}
{% for verb in verbs10 %}
    <li><a class="header" href="{{ verb.link }}"><i class="fas fa-external-link-square-alt"></i> {{ verb.verb }}</a> <span class="description">({{ verb.type }}) ({{ verb.perfecttype }}) {{ verb.imperfect }} - {{ verb.perfect }}</span>
        <br>Translation: <i>{{ verb.translate }}</i>
        <br>Conjugation: <i>{{ verb.conjugation }}</i>
        <br><span class="description">{{ verb.example }}</span>
    </li>
{% endfor %}
</ol>
<br>