---
layout: home
title: Javascript
breadcrumb:
    - name: Home
      url: /
    - name: Programming
      url: /programming
    - name: Node.js
      url: /programming/nodejs
---
<h3>Table of Contents</h3>
<ul id="toc">
    <li><a href="#data-types"><i class="fas fa-file-alt"></i> Data Types</a></li>
    <li><a href="#data-structure"><i class="fas fa-chess-rook"></i> Data Structure</a></li>
</ul>
<h2 id="data-types">Data Types</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugit velit aspernatur sunt. Sunt qui eveniet veniam, delectus eum nobis ratione sapiente. Nobis cum consequuntur laborum vitae voluptatum ex molestias.
</p>

<h2 id="data-structure">Data Structure</h2>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti velit placeat ipsum quas est molestias at tempora minima aliquam unde, cum officia, impedit neque dolorum temporibus sit magnam? Placeat, at.
</p>