<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description"
        content="Error Page">
    <meta name="robots" content="index, follow" />

    {% if jekyll.environment == "production" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112313025-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-112313025-2');
    </script>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/assets/css/combined.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/notes.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <article>
        {{ content }}
    </article>
    <script src="/assets/js/combined.min.js"></script>
</body>

</html>